#titulo{
    text-align: center;
    height: 40px;
}
#conteudo{
    height:800px;
}
#rodape{
    height: 40px;
}
td{
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid;
    font-size: 14px;
    font-family: Arial black, sans-serif;
    background-color: grey;
}
th{
    width: 40px;
    height: 40px;
    background-color: grey;
}
table{
    border-collapse: collapse;
    margin: 30px auto;
}
#cinza{
    background-color: grey;
}
#cinza_claro{
    background-color: lightgray;
}
#branco{
    background-color: white;
}