#titulo{
    text-align: center;
    background-color: green;
    height: 40px;
}
#conteudo{
    background-color: yellow;
    height:800px;
    text-align: center;
}
#rodape{
    background-color: lightblue;
    height: 40px;
}
#tabela{
    display: flex;
    justify-content: center;
    background-color: aquamarine; 
}