{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Informações do Visitante</h1>
    

    <div class="info">
        <p><strong>Nome:</strong> {{ visitante.nome_completo }}</p>
        <p><strong>CPF:</strong> {{ visitante.cpf }}</p>
        <p><strong>Data de Nascimento:</strong> {{ visitante.data_nascimento }}</p>
        <p><strong>Hora de Entrada:</strong> {{ visitante.hora_chegada }}</p>
        <p><strong>Hora de Saída:</strong> {{ visitante.hora_saida }}</p>
        <p><strong>Hora de Autorização:</strong> {{ visitante.hora_autorizacao }}</p>
        <p><strong>Porteiro Responsável:</strong> {{ visitante.porteiro_autorizador }}</p>
        <p><strong>Status do Visitante:</strong> {{ visitante.get_status }}</p>
    </div>
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Autorizar entrada de visitante</h5>
                </div>
                <div class="modal-body">                    
                    <form method="post" action="{% url 'informacoes_visitante' visitante.id %}">
                        <div class="form-group">
                            <label for="id_nome_morador" class="col-form-label">Nome do morador responsável por autorizar a entrada do visitante:</label>
                            {{ visitante.nome_morador }}
                        </div>
                        {% csrf_token %}
                        
                        <button type="submit" name="status" value="Finalizado" class="button">
                            <a href="#">
                                <span class="text">Autorizar Entrada</span>
        
                                <span class="icon text-white-50">
                                    <i class="fas fa-door-open"></i>
                                </span>
                            </a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 10px;">
            <form method="post" action="{% url 'informacoes_visitante' visitante.id %}">
                <label>Deseja finalizar a visita?</label>
                {% csrf_token %}
                <button type="submit" name="status" value="Finalizado" class="button">
                    <a href="#" class="button button-warning button-icon-split button-sm" data-toggle="modal" data-target="#modal2">
                        <span class="text">Finalizar Visita</span>

                        <span class="icon text-white-50">
                            <i class="fas fa-door-open"></i>
                        </span>
                    </a>
                </button>
            </form>
        </div>
    </div>
    
</div>

{% endblock %}