{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="wrapper">
    <main class="main-content">
        <h1>{{ nome_pagina }}</h1>
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    {% render_field field placeholder=field.label class="form-control" %}
                </div>
            {% endfor %}
        </form>
        <!--
        <form method="post">
            
            <label for="nome_completo">Nome Completo:</label>
            <input type="text" id="nome_completo" name="nome_completo" required>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>

            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" id="data_nascimento" name="data_nascimento" required>

            <label for="numero_casa">Número da Casa:</label>
            <input type="text" id="numero_casa" name="numero_casa" required>

            <label for="placa_veiculo">Placa do Veículo:</label>
            <input type="text" id="placa_veiculo" name="placa_veiculo">

            <label for="hora_chegada">Hora de Chegada:</label>
            <input type="time" id="hora_chegada" name="hora_chegada" required>

            
            <label for="hora_saida">Hora de Saída:</label>
            <input type="time" id="hora_saida" name="hora_saida">
            

            <label for="hora_autorizacao">Hora de Autorização:</label>
            <input type="time" id="hora_autorizacao" name="hora_autorizacao" required>

            <label for="nome_morador">Nome do Morador:</label>
            <input type="text" id="nome_morador" name="nome_morador" required>

            <label for="porteiro_autorizou">Porteiro que Autorizou:</label>
            <input type="text" id="porteiro_autorizou" name="porteiro_autorizou" required>

            <button type="submit">Cadastrar Visitante</button>
           
        </form>
         -->
    </main>
</div>
{% endblock content %}