{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="wrapper">
    <main class="main-content">
        <h1>{{ nome_pagina }}</h1>
        <form method="POST">
            {% csrf_token %}
            <p class="legenda">(*) Campo Obrigatório</p>
            {% for field in form %}
                <div class="form-field">
                    <label>
                        {{ field.label }}
                        {% if field.field.required %} <t class="legenda">*</t> {% endif %}
                    </label>
                    {% render_field field %}
                </div>
            {% endfor %}
            <button type="submit">
                <span>Enviar</span>
            </button>
        </form>
    </main>
</div>
{% endblock content %}